.whiteboard {
    display: flex;
    flex-direction: column;
    min-height: 500px; /* Adjust as needed */
  }
  
  .heading-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }
  
  h2 {
    margin-right: 10px;
  }
  
  img {
    width: 100px; /* Adjust width as needed */
    height: auto;
  }
  
  .meta-info {
    font-size: 0.8em;
    color: #ccc;
    margin-top: 10px;
  }
  