.container {
    display: flex;
  }
  
  .image-container {
    flex: 0 0 50%;
    margin-right: 10px;
  }
  
  .content {
    flex: 1;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .meta-info {
    font-size: 0.8em;
    color: #ccc;
  }
  